@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
font-family: 'NanumSquare', sans-serif;
font-weight: bold ;
}


a{
font-family: 'NanumSquare', sans-serif;
font-weight: bold ;
}

button{
font-family: 'NanumSquare', sans-serif;
font-weight: bold ;
}

h2,h3,h4,h5{
font-family: 'NanumSquare', sans-serif;
font-weight: bold ;
}
